# Terraform files

**.tfstate**
deploy/terraform/.terraform**
deploy/terraform-bootstrap-image/variables.tf
deploy/terraform/kubeconfig.yml
deploy/terraform/variables.tf

# Ignore the ssh keys and repo deployment

deploy/ssh
deploy/argocd/argocd-repositories.yaml
